h2 {
    text-align: center;
}

label {
    color: #012265;
    font-family: "Copperplate Gothic Light", serif;
}
/* src/Pages/Login/Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #012265; /* Add your desired background color here */
}

.login-form {
    background-color: white;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form h2 {
    font-family: "Copperplate Gothic Light", serif;
    margin-bottom: 20px;
    color: #012265;
}

.login-form input {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 10px 15px;
    background-color: #d4af37;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #c0a131;
}