body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

label, h3 {
    font-family: "Roboto", sans-serif;
    color: #d4af37;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 10px 0;
}

h2 {
    font-family: "Roboto", sans-serif;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

.info-container {
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: calc(100% - 40px);
    min-height: 5em;
    box-sizing: border-box;
    resize: none;
    padding: 0.5em;
    font-size: 1em;
    margin: 0px 20px 20px;
    font-family: "Roboto", sans-serif;
    direction: rtl;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rotate-message {
    color: black;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.button-container {
    max-width: 780px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px;
}

.resizable-button {
    width: 45%;
    max-width: 250px;
    height: auto;
    font-size: larger;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #012265;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resizable-button:hover {
    background-color: #b38e30;
}

.toggle-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.toggle-button {
    width: 100%;
    max-width: 250px;
    height: auto;
    font-size: larger;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #d4af37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button.active {
    background-color: #b38e30;
}

.toggle-button:hover {
    background-color: #b38e30;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.counter-buttons {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.counter-button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #d4af37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.counter-button:hover {
    background-color: #b38e30;
}

.counter-value {
    font-size: 24px;
    margin: 0 10px;
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}