/* ManageUsers.css */
.manage-users-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.manage-users-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.search-container, option, select{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-container input[type="text"], option, select {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.search-icon {
    margin-left: -30px;
    cursor: pointer;
}

.manage-users-container input[type="text"],
.manage-users-container input[type="password"], option, select {
    margin: 5px;
    padding: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

.manage-users-container button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.add-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.add-user-form input {
    margin: 5px;
}

.add-user-form button {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-weight: bold;
}

table tr:hover {
    background-color: #ffffff;
    color: #000000;
}

table tr:nth-child(even):hover {
    background-color: #ffffff;
    color: #000000;
}

table button {
    margin: 0 5px;
    background-color: #012265;
}
table button:hover {
    background-color: #d4af37;
}
.fade-out {
    animation: fadeOut 0.5s forwards;
}
.success-message {
    color: green;
    font-size: 0.9em;
    margin-top: 5px;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}