/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d4af37;
    padding: 10px 20px;
    color: #012265;
}

.navbar span {
    font-size: 18px;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}