.container {
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[readonly] {
    background-color: #f0f0f0;
}

textarea {
    width: 100%;
    height: 100px;
}

.center-button {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.info-table {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}

.info-table th, .info-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.info-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.name-color {
    background-color: #278035;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
}

.team-color {
    background-color: #0d3556;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
}

.match-color {
    background-color: #461a36;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
}

.alliance-button {
    display: inline-block;
    padding: 15px 17px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: default;
    transition: background-color 0.3s ease;
}